[Unit]
Description=Toils QEMU VM

[Service]
ExecStart=/usr/bin/qemu-system-x86_64 -name toils -nographic
ExecStop=/bin/sh -c ${haltcmd}
TimeoutStopSec=30
KillMode=none

[Install]
WantedBy=multi-user.target
