[Unit]
Description=Toils Maintenance

[Service]
Type=oneshot
WorkingDirectory={{ application_root}/{{ application_name }}
ExecStart=/usr/bin/php artisan maintenance:sweep
ExecStart=/usr/bin/php artisan maintenance:prune
StandardOutput=null
Restart=no

# Local Variables:
# mode: conf
# End:
