<VirtualHost *:80>
    ServerName {{ toils_hostname }}
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</VirtualHost>

<VirtualHost *:443>
    DocumentRoot {{ application_root }}/{{ application_name }}/public
    ServerName {{ toils_hostname }}

    DirectoryIndex index.php
    ErrorLog "/var/log/httpd/{{ application_name }}-error.log"
    CustomLog "/var/log/httpd/{{ application_name }}-access.log" combined

    <FilesMatch \.php$>
        SetHandler proxy:unix:/run/php-fpm/www.sock|fcgi://dummy
    </FilesMatch>

    <Directory {{ application_root }}/{{ application_name }}/public>
        Options +FollowSymlinks
        AllowOverride All
    </Directory>
</VirtualHost>

# Local Variables:
# mode: apache
# End:
